div.partners {
	display: flex;
	justify-content: space-evenly;
}

div.partners div {
	width: 125px;
	height: 125px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

div#quarante_deux {
	background-image: url(../media/partners/42.png);
}

div#matrice_ddt {
	background-image: url(../media/partners/matrice_ddt.png);
}

div#editions_legislative {
	background-image: url(../media/partners/editions_legislative.png);
}

div#els {
	background-image: url(../media/partners/els.png);
}

div#dalloz {
	background-image: url(../media/partners/dalloz.png);
}

div#matrice_ddt {
	background-image: url(../media/partners/matrice_ddt.png);
}
