input[type=checkbox] {
	display:none;
}

#dropdown_button {
	display:none;
}

/*
#dropdown:checked + ul {
	display:block;
}
*/

@media screen and (max-width: 1250px) {
	.wrap {
		margin: 0px 50px 0px 50px;
		width: 90%;
	}

	article,
	section article:nth-child(odd),
	article + article
	{
		flex-direction: column;
		margin: 0px 0px 0px 0px;
	}

	section article img {
		height: 200px;
	}

	section#team div div img {
		height: 150px;
	}
}

@media screen and (max-width: 700px) {

	#dropdown_button {
		display:block;
	}

	ul {
		display:none;
	}

	#dropdown:checked + ul {
		display:block;
		position: absolute;
		left: 0px;
		top: 60px;
		background-color: rgba(0, 0, 0, 0.85);
		width:100%;
		box-sizing: border-box;
		padding-top: 5px;
	}

	#dropdown:checked + ul li {
		padding: 10px 0px 10px 15px;
		font-size: 1.4em;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin: 0px 30px 0px 30px;
	}


	.wrap {
		margin: 0px 0px 0px 0px;
		width: 100%;
	}

	.right {
		float: initial;
		top: 0px;
	}

	header {
		font-family: "AgeoPersonalUse-Light";
		font-size: 15px;
		padding: 0px 20px 0px 20px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	header a {
		margin: auto auto;
	}

	header menu {
	}

	header span {
		display: none;
	}
}

