@media screen and (max-width: 1250px) {
	.wrap {
		margin: 0px 50px 0px 50px;
		width: auto;
	}

	article,
	section article:nth-child(odd),
	article + article {
	{
		flex-direction: column;
		margin: 0px 0px 0px 0px;
	}

	section article img {
		height: 200px;
	}

	section#team div div img {
		height: 150px;
	}
}

@media screen and (max-width: 700px) {

	.wrap {
		margin: 0px 0px 0px 0px;
		width: auto;
	}

	.right {
		float: initial;
		top: 0px;
	}



	header {
		font-family: "AgeoPersonalUse-Light";
		font-size: 15px;
		padding: 0px 20px 0px 20px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	header a {
		margin: auto auto;
	}

	header menu {
	}

	header span {
		display: none;
	}
}

