/*
#0e293c
#2c9dde
#19bbd5
#00e1c6
#c6daec
 */

::first-letter {
	text-transform: uppercase;
}

:target {			/* CSS HACK TO BYPASS HEADER SIZE FOR HANCOR*/
	padding-top: 70px; 
	margin-top: -70px; 
}

body {
	/*
	background-color: #19496b;
	font-family: sans-serif;
	 */
	overflow-x: hidden;
}

.wrap {
	margin: 0 auto;
	width: 1250px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #00e1c6;
}

h1 {
	padding: 0px 30px 10px 30px;
	margin: 0px 30px 20px 30px;
	color: #19496b;
	font-family: "AgeoPersonalUse-Light";
	font-size: 50px;
}

h2 {
	color: #2c9dde;
	font-family: "AgeoPersonalUse-Light";
	font-size: 25px;
}

hr {
	border: none;
	border-top: 2px solid #00e1c6;
	opacity: 0.3;
	margin: 20px auto 20px auto;
	width: 70%;
}

p {
	color: rgba(0, 0, 0, 0.7);
}

article p {
	margin-top: 30px;
	font-size: 1.05em;
	line-height: 22px;
}

article div {
	margin-top: 30px;
	margin-bottom: 30px;
}

article p span {
	color: #19bbd5;
	font-weight: bold;
}

/*----------------------------------------------------------------------------*\
|       HEADER                                                                 |
\*----------------------------------------------------------------------------*/

header {
	z-index: 1000;
	background-color: #0e293c;
	height: 60px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.9);
	color: #ffffff;
	position: fixed;
	z-index: 5000;
	width:100vw;
	top:0px;
	font-family: "AgeoPersonalUse-SemiBold";
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	display:flex;
}

header div#title {
	font-size: 45px;
	margin-top: 10px;
}

header div ,
header div div
{
	display:flex;
	justify-content: space-between;
	z-index: 2000;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:80%;
	z-index: 2000;
}

li
{
	margin: auto;
	box-sizing: border-box;
	z-index: 2000;
}
i.drop_on {
	font-size: 40px;
}

/*----------------------------------------------------------------------------*\
|       MAIN                                                                   |
\*----------------------------------------------------------------------------*/

section#tagline {
	margin: 0px 0px 20px 0px;
	background-image: url('../media/abstract.jpg');
	background-size: 200% auto;
	background-position: center;
	height: 80vh;
	display: flex;
	flex-direction: row-reverse;
}

section#tagline img {
	position: absolute;
	left: 62vw;
	width: 45vh;
	height: 100%;
	z-index: 100;
	top:-50px;
}

div#law {
	position: absolute;
	left: 15vw;
	top: 20vh;
	max-width: 900px;
	z-index: 1000;
}


section#tagline p {
	font-size: 2vh;
	z-index: 200;
}

section#tagline p#lawapi {
	font-family: "AgeoPersonalUse-Bold";
	font-size: 18vh;
	margin-bottom: 3vh;
	color:  #0e293c;
}

section#tagline p#punchline {
	text-align: left;
	font-size: 3vh;
	margin-bottom: 15vh;
}
section#tagline p#punchline_describ {
	width: 50vw;
	font-size: 2.5vh;
}

main {
	/*
	background-color: #f8f8f8;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.9);
	 */
}

main section {
	padding: 30px 40px 30px 40px;
	text-align: justify;
}

/*----------------------------------------------------------------------------*\
|       ARTICLES                                                               |
\*----------------------------------------------------------------------------*/

article {
	display: flex;
}

article + article{
	margin: 100px 0px 0px 0px;
}

article div{
	margin: auto auto;
	text-align: left;
	max-width: 600px;
}

article img {
	opacity: 0.7;
	margin: 20px;
}

article div {
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	padding: 40px;
}

article div p{
	opacity: 0.6;
	text-align: justify;
}

article div p + p{
	border-top: 1px solid #cdcdcd;
	padding-top: 30px;
	opacity: 0.8;
	text-indent: 0em;
}


main section img {
	height: 300px;
	width: auto;
	object-fit: contain;
}

article:nth-child(odd),
article:nth-child(odd) h2,
article:nth-child(odd) p
{
	text-align: right;
	flex-direction: row-reverse;
}

section#philosophie article
{
	max-width: 750px;
	opacity: 0.8;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	padding: 40px;
	margin: auto auto;
}

section#philosophie article p {
	margin-top: 0px;
}
section.appli_plate{
	flex-direction: row;
}
/*----------------------------------------------------------------------------*\
|       TEAM                                                                   |
\*----------------------------------------------------------------------------*/


section#team div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

section#team div div {
	width: 160px;
	flex-direction: column;
	text-align: center;
	display: block;
	margin: 5%;
}

section#team div div img {
	height: 200px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

section#team div div p {
	margin-top: 10px;
	color: #2c9dde;
}

section#team p.post {
	margin-top: 5px;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.7);
}

section#contact a
{
	margin: 20px;
	padding: 20px;
	background-color: #2c9dde;
	border-radius: 5px;
	display:block;
	width: 200px;
	text-align: center;
	margin: auto auto;
}


#contact
{
	margin: 0px auto;
}
